// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$mainFont                :'Roboto', sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 12px;
$mainFontWeight          : 400;
$mainLineHeight          : 12px;

$desktopWidth            : 1432px; // include padding
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;




// Main colors
$white                  : #ffffff;
$black                  : #000000;
$default-color          : #FA2828;
$default-pale           : #FF5252;
$grey-fisrt             : #C4C4C4;
$grey-second            : #988F8F;
$grey-third             : #4D4747;
$grey-fourth            : #E5E5E5;
$background-color       : #363232;
