
.container-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 100px;
  background-color: $default-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  &__title {
    color: $black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.21em;
  }

}